# Credenciales — nunca versionar
.env
mosquitto/config/passwd
secrets.ini

# Datos persistidos por los contenedores
mosquitto/data/
mosquitto/log/
influxdb/data/
n8n/data/

# PlatformIO
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
